*{
    margin:0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}


from h1{
    padding: 10px;
    color: aliceblue;
    background: rgba(200, 96, 14, 0.8);
    font-family: sans-serif;
    position: absolute;
    padding-left: 100px;

}

body{
    background: #000;
    font-family: sans-serif;
    padding-top: 300px;

}

header{
    width: 100%;
    height: 250px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Naruto_logo.svg/1200px-Naruto_logo.svg.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;    
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    text-align: center;
    visibility:visible; 
    

}

header h1 {
    font-size: 60px;
    color: red;
    line-height: 120px;
    font-weight: 300;
    transition: all 0.3s ease;
    font-family: 'Calistoga', cursive;
    text-align: left;

}

header h1 i{
    font-weight: bold;
    text-transform: uppercase;

}

header nav{
    position: absolute;
    bottom:0;
    height: 70px;
    line-height: 10px;
    width:100%;
    background: rgba(200, 0, 0, 1.11);
    transition: all 0.5s ease;

}

header nav a{
    color: white;
    display: inline-block;
    padding: 30px 30px;
    line-height: 1;
    text-decoration: none;
    border-radius: 10px;
}

header nav a:hover{
    background: rgba(0, 0, 0, 0.2)
}

ul, ol{
    list-style: none;
}

header ul li{
    display: none;
    position: absolute;
}

header li:hover > ul {
    display: block;
}


#texto{
	width: 45%;
	color: #000000;
	font-size: 20px;
	color: white;
	position: absolute;
	margin: 40px;
	padding-top: 50px;
	text-align: justify;
}

.temporada{
    padding-top: 150px;

}

temporada ul{
    display: block;
    position: absolute;
    float: left;
    background-color: white;
}

.temporada p{
    border: white 1px solid;
    font-weight: bold;
    margin: 20px auto;
    padding: 10px auto;
    height: auto;
    width: 360px;
    font-family:cursive;
    color: aliceblue;

    
}

.temporada a{
    color: white;
    text-decoration: none;
    text-align-last: right;

} 

h2{
    color: white;
    padding-top: 100px;
    padding-left: 350px;
    padding-left: 500px;
    margin: auto;
    position: absolute;
}

.imagen1{
    position: absolute;
    left: 980px;
    top: 450px;
    }

.imagen2{
    position: absolute;
    left: 90px;
    top: 450px;
    }

#footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 52px;
    top: 180%;
    width: 100%;
    position: absolute;
}

#footer p{
    margin: 10px;
}

#footer a{
    color: white;
}

